# Virtual environment
venv/
.env/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets
.env

# Build files
dist/
build/



# SQLite
*.db

# Pytest
.pytest_cache/